* {
    margin: 0px;
}

button {
    background-color: ;
    font-size: 150px;
}

#header {
    text-align: center;
    font-style: italic;
}

#counter {
    border: 2px solid black;
    text-align: center;
    margin: 10px;
    width: 150px;
    height: 150px;
    font-size: 160px;
    padding: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 130px;
    width: 70%;
}